<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimmyWeb</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/price-range.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
    <style>
        .header_top {
            background-color: #f8f8f8; /* Light background */

            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
        }

        .contactinfo {
            display: flex;
            align-items: center; /* Center items vertically */
        }

            .contactinfo ul {
                list-style: none; /* Remove default list styling */
                padding: 0; /* Remove padding */
                margin: 0; /* Remove margin */
                display: flex; /* Flex layout for horizontal alignment */
            }

            .contactinfo li {
                margin-right: 15px; /* Reduced space between items */
            }

            .contactinfo a {
                text-decoration: none; /* Remove underline */
                color: #333; /* Text color */
                display: flex; /* Flex for icon alignment */
                align-items: center; /* Center icon and text vertically */
            }

            .contactinfo img {
                width: 24px; /* Smaller icon size */
                margin-right: 5px; /* Space between icon and text */
            }

        .social-icons {
            display: flex; /* Flex layout for horizontal alignment */
            justify-content: flex-end; /* Align to the right */
            padding-top: 5px;
        }

            .social-icons ul {
                list-style: none; /* Remove default list styling */
                padding: 0; /* Remove padding */
                margin: 0; /* Remove margin */
                display: flex; /* Flex layout */
            }

            .social-icons li {
                margin-left: 15px; /* Reduced space between social icons */
            }

            .social-icons a {
                display: flex; /* Flex for icon alignment */
                align-items: center; /* Center icon vertically */
            }

            .social-icons img {
                width: 24px; /* Smaller icon size */
                transition: transform 0.3s; /* Smooth scaling effect on hover */
            }

                .social-icons img:hover {
                    transform: scale(1.1); /* Slightly scale up on hover */
                }

            /* Ensure proper alignment */
            .social-icons ul {
                justify-content: flex-end; /* Align items to the right */
                align-items: center; /* Center vertically */
                height: 100%; /* Full height to center properly */
            }
    </style>

</head>

<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
                                <li>
                                    <a href="tel:0908855932" style="text-decoration: none; color: inherit;">
                                        <img style="width:30px;padding:2px;margin-top:3px;" src="~/images/icons/telephone-call.png" />
                                        0908855932
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:vinhvipvodoi46@gmail.com" style="text-decoration: none; color: inherit;">
                                        <img style="width:30px; padding:2px;" src="~/images/icons/email.png" alt="Email" />
                                        vinhvipvodoi46@gmail.com
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul style="list-style: none; padding: 0; display: flex;">
                                <li>
                                    <a href="https://www.facebook.com" target="_blank">
                                        <img style="width:30px; padding:2px; margin-top:3px;" src="~/images/icons/facebook.png" alt="Facebook" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com" target="_blank">
                                        <img style="width:30px; padding:2px; margin-top:3px;" src="~/images/icons/instagram.png" alt="Instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.visa.com" target="_blank">
                                        <img style="width:30px; padding:2px; margin-top:3px;" src="~/images/icons/visa.png" alt="Visa" />
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:example@example.com">
                                        <img style="width:30px; padding:2px; margin-top:3px;" src="~/images/icons/email.png" alt="Email" />
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com" target="_blank">
                                        <img style="width:30px; padding:2px; margin-top:3px;" src="~/images/icons/youtube.png" alt="YouTube" />
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->
        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="index.html"><img src="~/images/home/logo.png" alt="" /></a>
                        </div>
                        <div class="btn-group pull-right">


                            <div style="padding-left:15px;" class="btn-group">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <div class="shop-menu pull-right">
                                <ul class="nav navbar-nav">
                                    <li><a href="@Url.Action("Index","Cart")"><img style="width:30px;padding:2px;margin-top:3px;" src="~/images/icons/shopping-cart.png" /> Cart</a></li>

                                  @*   @if (string.IsNullOrEmpty(email))
                                    {
                                        <li>
                                            <a href="@Url.Action("Login", "Account")">
                                                <img style="width:30px;padding:2px;margin-top:3px;" src="~/images/icons/login.png" />
                                                Login
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a href="@Url.Action("UserDetails", "User")">
                                                <img style="width:30px;padding:2px;margin-top:3px;" src="~/images/icons/user.png" />
                                                @hoTen
                                            </a>
                                        </li>
                                        <li><a href="@Url.Action("OrderHistory","User")"><img style="width:30px;padding:2px;margin-top:3px;" src="~/images/icons/checkout.png" /> Đơn hàng của tôi</a></li>

                                        <li>
                                            <a href="@Url.Action("DangXuat", "Account")">Đăng Xuất</a>
                                        </li>
                                    } *@
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/header-middle-->



            <div class="header-bottom">
                <!--header-bottom-->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="mainmenu pull-left">
                                <ul class="nav navbar-nav collapse navbar-collapse">
                                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Sản Phẩm", "Index", "Products")</li>
                                    <li>@Html.ActionLink("Xem Vị Trí", "StoreLocation", "Home")</li>
                                    @*<li class="dropdown">
                                    <a asp-controller="Product" asp-action="Index">Cửa hàng<span class="caret"></span></a>
                                    <ul role="menu" class="sub-menu">
                                    <li>@Html.ActionLink("Tất cả Sản Phẩm", "Index", "Product")</li>
                                    </ul>
                                    </li>*@
                                    <li><a href="@Url.Action("SubmitFeedback","BaoCaoUser")">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="search_box pull-right">
                                @using (Html.BeginForm("Search", "Product", FormMethod.Get))
                                {
                                    <input type="text" name="keyword" placeholder="Search" />
                                    <button type="submit" class="btn btn-default">Tìm kiếm</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/header-bottom-->

    </header><!--/header-->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer">
        <!--Footer-->
        <div class="footer-top">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- Sử dụng 'justify-content-center' để căn giữa các phần tử -->
                    <div class="col-sm-2 text-center">
                        <!-- Sử dụng 'text-center' để căn giữa nội dung trong cột -->
                        <div class="companyinfo">
                            <h2><span>Simmy - SeaFood </span></h2>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Dịch vụ</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Hỗ trợ trực tuyến</a></li>
                                <li><a href="#">Liên hệ với chúng tôi</a></li>
                                <li><a href="#">Tình trạng đơn hàng</a></li>
                                <li><a href="#">Đổi địa chỉ giao hàng</a></li>
                                <li><a href="#">Câu hỏi thường gặp</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Cửa hàng nhanh</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Nhẫn</a></li>
                                <li><a href="#">Dây chuyền</a></li>
                                <li><a href="#">Bông tai</a></li>
                                <li><a href="#">Bộ sưu tập đặc biệt</a></li>
                                <li><a href="#">Quà tặng</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Chính sách</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Điều khoản sử dụng</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                                <li><a href="#">Chính sách hoàn tiền</a></li>
                                <li><a href="#">Hệ thống thanh toán</a></li>
                                <li><a href="#">Hỗ trợ khách hàng</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Giới thiệu </h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Thông tin công ty</a></li>
                                <li><a href="#">Cơ hội nghề nghiệp</a></li>
                                <li><a href="#">Địa chỉ cửa hàng</a></li>
                                <li><a href="#">Chương trình liên kết</a></li>
                                <li><a href="#">Bản quyền</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 col-sm-offset-1">
                        <div class="single-widget">
                            <h2>Đăng ký nhận tin</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="Địa chỉ email của bạn" />
                                <button type="submit" class="btn btn-default">
                                    <img style="width:15px;" src="~/images/icons/send.svg" />
                                </button>
                                <p>Nhận thông tin cập nhật mới nhất từ<br />website của chúng tôi.</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                   
                    <p class="pull-right">Designed by <span><a target="_blank" href="https://simmyseafood.com/">Simmy - SeaFood</a></span></p>
                </div>
            </div>
        </div>
    </footer><!--/Footer-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/price-range.js"></script>
    <script src="~/js/jquery.prettyPhoto.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>